@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .footer {
        &__wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            gap: 40px;
        }
        &__media-block {
            display: flex;
            gap: 40px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        // max-width: 540px;
    }
    .header {
        &__nav {
            padding-top: 35px;
            flex-direction: column;
            align-items: center;
            &-list {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
            }
            &-item {
                &:last-child {
                    margin-left: 100px;
                }
            }
        }
        &__logo {
            padding-bottom: 10px;
        }
        &__divider {
            display: block;
            width: 100%;
            margin: 0 auto;
            height: 2px;
            background-color:rgb(195, 209, 198);;
        }
    }
    .main {
        padding-top: 30px;
    }

    .team {
        &__wrapper {
            padding: 0 15px;
            flex-direction: column;
            align-items: flex-start;
        }
        &__h3 {
            margin-top: 0;
        }
    }
    .footer {
        &__wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            // gap: 40px;
            padding: 0 15px;
        }
        &__contacts {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items:baseline;
        }
        &__media-block {
            display: flex;
            width: 100%;
            justify-content: space-between;
            // gap: 40px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}