.header {
    height: 100px;
    display: flex;
    align-items: center;
    &__divider {
        display: none;
    }
    &__nav {
        display: flex;
        justify-content: space-between;

        &-list {
            display: flex;
            gap: 60px;
            list-style-type: none;
        }

        &-item {
            font-size: 20px;
            font-weight: 500;
            line-height: 23px;
            a {
                text-decoration: none;
                color: rgb(44, 45, 53);
            }
        }
    }
}