@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Raleway", sans-serif;
    color: rgb(44, 45, 53);
    font-weight: 500;
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/reproduction';
@import 'blocks/collection';
@import 'blocks/team';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'base/media';

.show {
    display: flex;
}
.hide {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}